<div class="bannerContainer">
  <%= cl_image_tag(image.key, width: 400, alt: title)  if image.attached? %>
  <% if title.present? %>
    <h1><%= title %></h1>
    <span class="subtitleStyle"><%= subtitle %></span>
    <%= image_tag 'step-one-icon.svg', width: 50, alt: "Step One Hand Icon", class: "pt-4" %>
  <% end %>
</div>