<div class="bannerContainer">
  <%= image_tag image, width: '100%' if image.present? %>
  <% if title.present? %>
    <h1><%= title %></h1>
    <span class="subtitleStyle"><%= subtitle %></span>
  <% end %>
</div>