<div class="categoryHero">
  <% if @all.image.present? %>
  <%= link_to cl_image_tag(@all.image.key), products_path(@all) %>
  <% else %>
  <%= link_to @all.name, products_path(@all) %>
  <% end %>
</div>
<section id="gallery">
  <div class="categoryGrid">
    <% for category in @categories %>
      <div class="gridItem">
        <h5 class="categoryName"><%= category.name %></h5>
        <% if category.image.present? %>
          <%= link_to cl_image_tag(category.image.key), products_path(category: category.name) %>
        <% end %>
      </div>
    <% end %>
  </div>
</section>