 <section id="quote">
  <div class="quoteContent flex column px-5 ">
    <%= artifact.description %>
    <% if artifact.url.present? %>
      <div class="align-end pt-5 ">
        <%= link_to "check it out ->", artifact.url %>
      </div>
    <% end %>
  </div> 
  <%= cl_image_tag(artifact.image.key, width: 800, crop: :scale, class: "border-l-thick border-solid border-green-brand", alt: artifact.name) %>
  
</section>
