<% for post in @updates.reverse %>
  <div class="post">
    <%= link_to update_path(post) do %>
      <%= image_tag post.thumbnail, alt: post.title, class: "border mr-4" if post.image.attached? %>
      <div class="">
        <h5><%= post.title %></h5>
      </div>
    <% end %>
  </div>
<% end %>
