<div class= "imageContainer" role="presentation" >
  <%= cl_image_tag(variation.product.image.key, width: 75, height: 75, crop: :fill, gravity: 'center', alt: variation.product.name) %>
</div>
<span class="variation">
  <% if variation.unit_quantity.present? && variation.unit_quantity > 1 %>
      <%= variation.unit_quantity %> - 
      <%= variation.name.pluralize %>
  <% else %>
    <%= variation.name %>
  <% end %>
</span>