<%= form_with(model: customer, class: "inline") do |form| %>
    <%= form.text_field :name, class: "form-input", placeholder: "Name" %>
    <%= form.text_field :email, class: "form-input", placeholder: "Email" %>
    <span class="w-6 inline"><%= form.submit "sign me up", class: "button button-text" %></span>
<% end %>