@import 'variables'

html, body 
	box-sizing: border-box 
	margin: 0 
	font-family: $standard-font
	color: $standard-black 
	font-size: 16px 
	line-height: 1.5em 
	font-weight: 400 
*
  [data-button] 
		cursor: pointer 
		user-select: none
a:hover
  -webkit-box-shadow: unset
  box-shadow: unset
body
  background-color: $bg-grey
.bg-grey  
  background-color: $standard-light-grey
.bg-dark  
  background-color: $bg-dark
.bg-gold 
  background-color: lighten($standard-gold, 10)
h1,
.h1 
	font-family: $standard-header
	font-size: 72px 
	line-height: 83px 
  letter-spacing: 0.01em
	margin: 0 
h2,
.h2 
	font-family: $standard-header 
	font-size: 52px 
	line-height: 60px 
	margin: 0 
h3,
.h3 
	font-family: $standard-header
  color: $standard-black 
	font-size: 36px 
	line-height: 40px 
	margin: 0 
h3 
	&.location 
		margin-right: 40px 
		color: $standard-black 
		font-family: $brand-font
		font-weight: 500 
		padding-bottom: 10px 
		font-size: 17px 
		line-height: 15px 
		border-bottom: 2px solid transparent
h4,
.h4 
	font-family: $standard-header
	font-size: 32px 
	line-height: 37px 
	margin: 0 
h5, .h5
  font-weight: normal
  font-family: $standard-header
  font-size: 25px
  line-height: 35px
  margin: 0
h6,
.h6 
	font-family: $standard-header
	font-size: 20px 
	line-height: 29px 
	margin: 0 
.quote 
	font-family: $standard-header 
	font-size: 42px 
	line-height: 49px 
	margin: 0 
p
	margin: 0 
  letter-spacing: .2rem
  
.b1 
	font-size: 20px 
.b2 
	font-size: 18px 
.b3 
	font-size: 16px 
.b4 
	font-size: 14px 
.buttonText 
	font-size: 14px 
	text-transform: uppercase 
	font-weight: 600 
.heading-font 
  font-family: $standard-header
section
  padding-bottom: 30px

.bannerContainer 
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  padding: 50px 32px
  h1 
    font-size: 52px
    font-weight: 400
    line-height: 62px
  .subtitleStyle 
    font-weight: 500 
    font-family: $standard-font
    text-align: justify
    line-height: 17px 
    margin-top: 32px 

.center 
  text-align: center

.detailContent
  width: 85%
  margin: 0 auto
li, .trix-content li
  margin-bottom: 1em
li:first-child, .trix-content li:first-child
  margin-top: .4em
ol, .trix-content ol 
  margin-bottom: 1em
  li
    font-weight: 600

.posts
  a
    color: $standard-dark-grey
    font-size: 1rem
    line-height: 1.2rem
  .trix-content
    display: -webkit-box
    -webkit-line-clamp: 4 !important
    -webkit-box-orient: horizontal 
    overflow: hidden
.content
  h1,h2,h3,h4
    font-family: $brand-font
.trix-content 
  font-family: $brand-font
  font-size: 1.4em
  line-height: 1.5em
  margin-bottom: $space4
  h1,h2,h3,h4
    font-family: $brand-font
  div
    padding: 1rem 0

  img
    border: thin solid $grey-crumb
    padding: .6em 1em
  a:hover
    color: $standard-gold
    -webkit-box-shadow: inset 0 -1px 0 $standard-gold
    box-shadow: inset 0 -1px 0 $standard-gold
.date
  font-family: $brand-font
  color: $standard-green
  font-size: 1.4rem

.left
  float: left
.right
  float: right
.clear
  clear: both
.italic
  font-style: italic
.subtitle 
  font-weight: 500 
  font-size: 20px 
.subtitle 
  &.small 
  font-weight: 500 
  font-size: 18px 
.small 
  font-size: 14px 
.overline 
  font-size: 11px 
  font-weight: 600 
  text-transform: uppercase 
  letter-spacing: 0.5px 
input 
  &:focus 
  outline: none !important 
  outline-offset: none !important 
a 
  text-decoration: none 
  color: $standard-gold 
  transition: all ease-in-out 0.3s 

.uppercase 
  text-transform: uppercase 
.hover-text-main 
  &:hover 
  color: $standard-grey
ul 
  list-style: none 
  padding: 0 
  &.bullets 
    margin-left: 40px 
    list-style: disc 
  li 
    margin-bottom: 5px 
ol 
  margin: 0 
  padding-left: 1.8em 
.p-3
  padding: $space3
.p-4 
  padding: $space4
.p-5 
  padding: $space5
.p-6
  padding: $space6
.p-8 
  padding: $space8
.py-2
  padding-top: $space2
  padding-bottom: $space2
.py-4 
  padding-top: $space4 
  padding-bottom: $space4 
.px-4
  padding-left: $space4
  padding-right: $space4
.px-5
  padding-left: $space5
  padding-right: $space5
.py-8 
  padding-top: $space8
  padding-bottom: $space8 
.pt-3 
  padding-top: $space3 
.pt-4 
  padding-top: $space4
.pt-5
  padding-top: $space5
.pt-8
  padding-top: $space8
.pb-0 
  padding-bottom: 0px 
.pb-4 
  padding-bottom: $space4 
.pb-5
  padding-bottom: $space5
.pr-4 
  padding-right: $space4 
.mb-0 
  margin-bottom: 0px 
.mb-2 
  margin-bottom: $space2
.mb-4 
  margin-bottom: $space4
.mb-5
  margin-bottom: $space5
.mb-6
  margin-bottom: $space6
.mb-8
  margin-bottom: $space8
.ml-3 
  margin-left: $space3
.ml-4 
  margin-left: $space4 
.mr-1
  margin-right: $space1
.mr-4 
  margin-right: $space4
.mt-auto
  margin-top: auto
.mt-1 
  margin-top: $space1
.mt-2 
  margin-top: $space2
.mt-4 
  margin-top: $space4
.mt-5 
  margin-top: $space5 
.mt-6
  margin-top: $space6 
.mx-3 
  margin-left: $space3 
  margin-right: $space3 
.flex-center 
  display: flex 
  justify-content: center 
  align-items: center 
.flex-start 
  width: 100% 
  display: flex 
  justify-content: flex-start 
  align-items: center 
.flex-end 
  display: flex 
  justify-content: flex-end
  align-items: end
.flex-reverse
  display: flex 
  flex-direction: row-reverse
.flex-around 
  width: 100% 
  display: flex 
  justify-content: space-around 
  align-items: center 
.flex-between 
  width: 100% 
  display: flex 
  align-items: center 
  justify-content: space-between 
.flex-middle 
  display: flex 
  align-items: center 
.align-end
  align-self: flex-end
.align-center
  align-self: center
  align-items: center 
  align-content: center 
  vertical-align: middle
.inline-block
  display: inline-block
.inline
  display: inline
.flex
  display: flex
.wrap
  flex-wrap: wrap
.around
  justify-content: space-around 
.column
  flex-direction: column
.row
  flex-direction: row
.flex-third
  flex: 0 0 33.3333%;
.flex-half
  flex: 0 0 50%;
.justify-end
  justify-self: flex-end
.content-end
  justify-content: flex-end
.items-start 
    -webkit-box-align: start
    -ms-flex-align: start
    align-items:flex-start

.flex-auto
  flex: 1 1 auto

.items-end 
    -webkit-box-align: end
    -ms-flex-align: end
    align-items:flex-end


.items-center 
    -webkit-box-align: center
    -ms-flex-align: center
    align-items:center


.items-baseline 
    -webkit-box-align: baseline
    -ms-flex-align: baseline
    align-items:baseline


.items-stretch 
    -webkit-box-align: stretch
    -ms-flex-align: stretch
    align-items:stretch

.grid 
  display: grid 
  gap: 40px 
.grid-gap0 
  display: grid 
  gap: 0 
.grid-gap20 
  display: grid 
  gap: 20px 
.grid-gap60 
  display: grid 
  gap: 60px 
.grid-0595 
  grid-template-columns: 0.1fr 1.9fr 
.grid-1585 
  grid-template-columns: 0.3fr 1.7fr 
.grid-2080 
  grid-template-columns: 0.4fr 1.6fr 
.grid-25 
  grid-template-columns: 1fr 1fr 1fr 1fr 
.grid-2575 
  grid-template-columns: 0.5fr 1.5fr 
.grid-3070 
  grid-template-columns: 0.6fr 1.4fr 
.grid-33 
  grid-template-columns: 1fr 1fr 1fr 
.grid-4060 
  grid-template-columns: 0.8fr 1.2fr 
.grid-50,
.grid-5050 
  grid-template-columns: 1fr 1fr 
.grid-6040 
  grid-template-columns: 1.2fr 0.8fr 
.grid-7030 
  grid-template-columns: 1.4fr 0.6fr 
.grid-7525 
  grid-template-columns: 1.5fr 0.5fr 
.grid-v-space-0 
  gap: 0 40px 
.formField 
  margin-bottom: 20px 
  position: relative 
  &.mb-0 
  margin-bottom: 0px 
  textarea 
  resize: none 
  height: 150px 
  select 
  padding: 9px 10px 
  .error 
  color: $error 
  font-size: 12px 
  line-height: 15px 
.formField input[type='text'],
.formField input[type='email'],
.formField input[type='number'],
.formField input[type='tel'],
.formField input[type='password'],
.formField textarea,
.formField select 
  width: 100% 
  border: 1px solid $bg-light-gray 
  font-size: 14px 
  padding: 12px 20px 12px 12px 
  line-height: 1 
  box-sizing: border-box 
  font-family: $standard-font 
.formField label,
.formField span.label 
  display: block 
  width: 100% 
  font-size: 14px 
.formField label.middle,
.formField span.label.middle 
  display: flex 
  align-items: center 
.formField.required label::after,
.formField.required label::after,
.formField.required label::after 
  content: '*' 
  display: inline-block 
  margin-left: 4px 
.genericError 
  color: $error
  font-size: 12px 
  line-height: 15px 
.dataTable 
  width: 100% 
.dataTableRow 
  display: flex 
  flex-wrap: wrap 
  padding: 5px 0 
  &:nth-child(odd) 
  background-color: #efefef 
.dataTableCell 
  margin-left: 5px 
  padding: 0 5px 
  display: flex 
  align-items: center 
  &.alignTop 
  align-items: flex-start 
  &.alignBottom 
  align-items: flex-end 
  &:first-child 
  margin-left: 0 
.dataTableActionsCell 
  margin-left: auto 
  [data-button] 
  margin-left: 5px 
  cursor: pointer 
.dataTableEditor 
  width: 100% 
  overflow: hidden 
  opacity: 0 
  visibility: hidden 
  height: 0 
  padding: 0 5px 
  transition: all 0.3s ease-in-out 
  &.active 
  opacity: 1 
  visibility: visible 
  height: auto 
  padding-top: 10px 
.box 
  border: 1px solid #eee 
  padding: 10px 
  &:nth-child(odd) 
  background-color: #efefef 
.text-center 
  text-align: center 
.text-right 
  text-align: right 
.icon-wrap 
  display: flex 
  justify-content: center 
  align-items: center 
.hidden 
  opacity: 0 
  visibility: hidden 
  height: 0 
  overflow: hidden 
  transition: all 0.3s ease-in-out 
.show 
  opacity: 1 
  visibility: visible 
  height: auto 
  overflow: initial 
  transition: all 0.3s ease-in-out 
.btnGroup 
  & > * 
  margin-right: 10px 
  & > *:last-child 
  margin-right: 0px 
.disable-action 
  pointer-events: none 
  user-select: none 
  cursor: not-allowed 
.standardSpan 
  font-weight: 500 
  font-size: 14px 
  line-height: 17px 
.callout 
  margin: 40px 0 
  padding: 30px 
  background-color: $bg-light-gray 
  text-align: center 
.fill-brand
  fill: $brand

.border-solid 
  border-style: solid

.border-dashed 
  border-style: dashed

.border-dotted 
  border-style: dotted

.border-none 
  border-style: none

.border-0
  border-width: 0
.border-2 
  border-width: 2px

.border-4 
  border-width: 4px

.border-8 
  border-width: 8px

.border 
  border-width: 3px 
  border-style:  double
.border-thick 
  border-width: .8rem

.border-t-0 
  border-top-width: 0

.border-r-0 
  border-right-width: 0
.border-b-0 
  border-bottom-width: 0
  border-top: none
  border-left: none
  border-right: none
.border-l-0 
  border-left-width: 0

.border-t-2 
  border-top-width: 2px
  border-right: none
  border-left: none
  border-bottom: none
.border-b-2
  border-bottom-width: 2px
  border-top: none
  border-left: none
  border-right: none
.border-r-2 
  border-right-width: 2px
  border-top: none
  border-left: none
  border-bottom: none
.border-b-2 
  border-bottom-width: 2px
  border-top: none
  border-left: none
.border-l-2 
  border-left-width: 2px

.border-t-4 
  border-top-width: .3rem
  border-right: none
  border-left: none
  border-bottom: none
.border-r-4 
  border-right-width: .3rem
  border-top: none
  border-left: none
  border-bottom: none
.border-b-4 
  border-bottom-width: .3rem
  border-top: none
  border-left: none
.border-l-4 
  border-left-width: .3rem

.border-t-8 
  border-top-width: 8px


.border-r-8 
  border-right-width: 8px
  border-top: none
  border-left: none
  border-bottom: none
.border-b-8 
  border-bottom-width: 8px
  border-top: none
  border-left: none
  border-right: none
.border-l-8 
  border-left-width: 8px

.border-t 
  border-top-width: .3rem
  border-right: none
  border-left: none
  border-bottom: none
.border-r 
  border-right-width: .3rem
  border-top: none
  border-left: none
  border-bottom: none
.border-b 
  border-bottom-width: .3rem
  border-top: none
  border-left: none
  border-right: none
.border-l 
  border-left-width: .3rem
  border-top: none
  border-bottom: none
  border-right: none
.border-t-thick 
  border-top-width: .8rem
  border-right: none
  border-left: none
  border-bottom: none
.border-r-thick 
  border-right-width: .8rem
  border-top: none
  border-left: none
  border-bottom: none
.border-b-thick 
  border-bottom-width: .8rem
  border-top: none
  border-left: none
  border-right: none
.border-l-thick 
  border-left-width: .8rem
  border-top: none
  border-bottom: none
  border-right: none
.border-green-brand
  border-color: $standard-green
.border-gold-brand
  border-color: $standard-gold
.green-brand
  fill: $standard-green
.gold-brand
  fill: $standard-gold
.gold-text
  color: $standard-gold
.svg-light
  filter: invert(.5) sepia(1)
.border-grey-lightest
  border-color: $bg-light-gray

.text-grey-lightest
  color: $bg-light-gray
  *
    color: $bg-light-gray
    a:hover
      color: $standard-green
      border-color: $standard-green
      -webkit-box-shadow: inset 0 -1px 0 $standard-green
      box-shadow: inset 0 -1px 0 $standard-green

.text-lg
  font-size: 20px
.text-5xl
  font-size: 3.8rem
.font-serif
  font-family: $brand-font
.font-medium
  font-weight: 500
.font-black
    font-weight: 900

.w-full 
  width: 100%

.w-screen 
  width: 100vw
.w-6
  width: 60%
.w-2
  width: 20%
.w-3
  width: 30%
.z-0 
  z-index: 0

.z-10 
  z-index: 10

.z-20 
  z-index: 20

.z-30 
  z-index: 30

.z-40 
  z-index: 40

.z-50 
  z-index: 50

.z-auto 
  z-index: auto
.h-1 
  height: .25rem

.h-2 
  height: .5rem

.h-3 
  height: .75rem

.h-4 
  height: 1rem

.h-5 
  height: 1.25rem

.h-6 
  height: 1.5rem

.h-8 
  height: 2rem

.h-10 
  height: 2.5rem

.h-12 
  height: 3rem

.h-16 
  height: 4rem

.h-24 
  height: 6rem

.h-32 
  height: 8rem

.h-42 
  height: 10rem

.h-48 
  height: 12rem

.h-64 
  height: 16rem

.h-auto 
  height: auto

.h-px 
  height: 1px

.h-full 
  height: 100%

.h-screen 
  height: 100%
.w-32
  width: 4rem
.w-64 
  width: 16rem
.l-0 
  left: 0
.r-0
  right: 0
.t-0
  top: 0
.t-225
  top: -150px

.relative
  position: relative

.absolute
  position: absolute
  
.overflow-hidden
  overflow: hidden

.image-header 
  height: 110%

.vert-rl
  -webkit-writing-mode: vertical-rl
  -ms-writing-mode: tb-rl
  writing-mode: vertical-rl

.line-clamp 
  display: -webkit-box
  -webkit-line-clamp: 3
  -webkit-box-orient: vertical
  overflow: hidden
.contain
  object-fit: contain
header img
  object-fit: contain
header .logo 
  margin-bottom: 5rem
  svg 
    width: 16rem
    height: 16rem
    fill: $brand
.header-content 
  a
    font-weight: 700
    color: $standard-light-grey
    -webkit-box-shadow: inset 0 -1px 0 $standard-light-grey
    box-shadow: inset 0 -1px 0 $standard-light-grey
    &:hover
      color: lighten($standard-gold, 10)
      -webkit-box-shadow: inset 0 -1px 0 lighten($standard-gold, 10)
      box-shadow: inset 0 -1px 0 lighten($standard-gold, 10)
  h1 
    font-size: 4rem
    text-align: right
    line-height: 1
    color: $standard-light-grey
  p 
    font-weight: 600
    font-size: 1.2rem
    text-align: right
    color: $standard-light-grey
  nav
    a
      -webkit-box-shadow: unset
      box-shadow: unset
      &:hover
        color: lighten($standard-gold, 10)
        -webkit-box-shadow: unset
        box-shadow: unset
#mobile-nav
  display: none
#sidebar-nav
  justify-items: end 
  .logo
    width: 8rem
  .nav-link a:hover:before
    background-color: $standard-dark-grey
    content: ""
    position: absolute
    left: 0
    top: 5px
    width: 15px
    height: 15px
    border-radius: 50%
  a
    color: $standard-dark-grey
    font-weight: 900
    font-size: 1.125rem
    line-height: 1.5rem
    &:hover
      color: $standard-gold
      -webkit-box-shadow: unset
      box-shadow: unset
  .category a
    font-size: 1rem
    font-weight: 500
    color: lighten($standard-dark-grey, 5%)
    &:hover
      color: $standard-gold
  .subcategory a
    font-weight: 200  
    font-size: 1rem
    border-right: none
    color: lighten($standard-dark-grey, 20%)
  .category
    position: relative
    &.active a
      font-weight: 600
  .subcategory
    width: 90%
    &.active a
      font-weight: 200
    &:hover:before
      background-color: $standard-dark-grey
      content: ""
      position: absolute
      left: 0
      top: 6px
      width: 10px
      height: 10px
      border-radius: 50%
  .active a
    color: $standard-gold
  .nav-link.active a:hover:before
    background-color: transparent
  .posts-nav
    display: flex
    flex-direction: column
    align-items: end
@media only screen and (max-width: 767px) 
  #sidebar-nav
    display: none
  #mobile-nav
    display: flex
    flex-direction: column
    .logo
      width: 4rem
    a
      color: $standard-dark-grey
      &:hover
        color: $standard-gold
  h1, h2, h3, h4,h5, h6
    line-hight: 7vh
  h1,.h1
    font-size: 55px 
  h2,.h2 
    font-size: 50px 
    font-size: 28px 
  h3,.h3 
    font-size: 40px 
    font-size: 26px 
  h4,.h4 
    font-size: 30px 
    font-size: 24px 
  h5,.h5 
    font-size: 25px 
    font-size: 22px
  h6, .h6 
    font-size: 20px
  header
    .header-content 
      h1 
        font-size: 1.8rem 
      p 
        font-size: 1.2rem
  header .logo svg 
    fill: $standard-light-grey !important
  .subtitleStyle
    width: 66%  

  #posts
    > div
      flex: 0 0 100%
    .posts .post .contentContainer
      flex-direction: column
@media only screen and (max-width: 480px) 
  h1,.h1 
  font-size: 30px 

  h2,
  .h2 
  font-size: 28px
  h3,
  .h3
  font-size: 26px
  h4,
  .h4
  font-size: 24px
  h5,
  .h5 
  font-size: 22px