@import 'variables'

#quote, #pageContent 
  display: flex
  justify-content: center
  padding: 50px 32px

  span 
    font-weight: 500
    font-size: 14px
    line-height: 17px
    text-transform: uppercase
    display: block
    margin-bottom: 40px
    text-align: center

  p 
    font-family: $standard-header
    font-weight: normal
    font-size: 42px
    line-height: 52px
    text-align: center
    max-width: 720px
  img
    max-width: 800px
  .post a
    text-decoration: none 
    color: $standard-gold 
    transition: all ease-in-out 0.3s
    &:hover
      color: lighten($standard-gold, 10)
      -webkit-box-shadow: inset 0 -1px 0 lighten($standard-gold, 10)
      box-shadow: inset 0 -1px 0 lighten($standard-gold, 10)
#pageContent  
  flex-direction: column
  align-items: center
@media (max-width: 767px) 
  .pageContent
    width: 100%
  #quote
    display: flex;
    padding: 0;
    flex-direction: column-reverse;

    img
      max-width: 100%
      border: none
      margin-bottom: 2rem
  #about
    display: flex;
    flex-direction: column;
    img
      margin: 0 auto 2rem
      border-left: .8rem solid $standard-green
      border-right: none
@media (max-width: 767px) 
  #quote 
    .post
      flex-direction: column
      margin-bottom: 10px
      *
        align-self: center
  
@media (max-width: 600px) 
  #quote 
    p 
      font-size: 22px
      line-height: 32px
    
